In [72]:
pwd

'/Users/ellismok/Desktop/Challenges/PsciCat-Learners---Final-Project/cleaning_data_wrbk'

In [2]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np
import calendar
from time import strptime

In [3]:
# Create paths for csv
hospital_rating = "../raw_data/hospital_dataset/hospital_rating.csv"

In [4]:
# Read csv
hosptial_rating_df = pd.read_csv(hospital_rating)
pd.DataFrame(hosptial_rating_df)

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Houston,(334) 793-8701,Acute Care Hospitals,Government - Hospital District or Authority,...,1,9,1,NaN,8,8,NaN,14,11,NaN
1,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,Marshall,(256) 593-8310,Acute Care Hospitals,Government - Hospital District or Authority,...,0,9,1,NaN,8,8,NaN,14,14,NaN
2,10006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,Lauderdale,(256) 768-8400,Acute Care Hospitals,Proprietary,...,1,7,1,NaN,8,8,NaN,14,11,NaN
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,Covington,(334) 493-3541,Acute Care Hospitals,Voluntary non-profit - Private,...,0,6,0,NaN,8,8,NaN,14,7,NaN
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,Crenshaw,(334) 335-3374,Acute Care Hospitals,Proprietary,...,0,4,0,NaN,8,Not Available,5.0,14,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5377,670138,"PARK AMBULATORY SURGERY CENTER, LLC","5055 W PARK BLVD, SUITE 800",PLANO,TX,75093,Collin,(214) 299-7010,Acute Care Hospitals,Proprietary,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0
5378,670143,ASCENSION SETON BASTROP,"630 HIGWAY 71 W,",BASTROP,TX,78602,Bastrop,(737) 881-7400,Acute Care Hospitals,Voluntary non-profit - Private,...,Not Available,Not Available,Not Available,5.0,Not Available,Not Available,5.0,Not Available,Not Available,5.0
5379,670259,CAPROCK HOSPITAL,3134 BRIARCRESRT DR,BRYAN,TX,77802,Brazos,(979) 314-2323,Acute Care Hospitals,Proprietary,...,Not Available,Not Available,Not Available,5.0,Not Available,Not Available,5.0,Not Available,Not Available,5.0
5380,670260,TEXAS HEALTH HOSPITAL FRISCO,12400 N DALLAS PARKWAY,FRISCO,TX,75033,Denton,(469) 495-2000,Acute Care Hospitals,Voluntary non-profit - Private,...,Not Available,Not Available,Not Available,5.0,8,Not Available,5.0,14,Not Available,5.0
5381,670266,TOWNSEN MEMORIAL HOSPITAL,1475 FM 1960 BYPASS E,HUMBLE,TX,77338,Harris,(281) 369-9001,Acute Care Hospitals,Voluntary non-profit - Private,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0

In [5]:
# remove all states that are not CA (California)
only_CA_df = hosptial_rating_df.loc[(hosptial_rating_df['State'] == 'CA' )]
only_CA_df

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
307,50002,ST ROSE HOSPITAL,27200 CALAROGA AVE,HAYWARD,CA,94545,Alameda,(510) 782-6200,Acute Care Hospitals,Voluntary non-profit - Church,...,0,4,4,NaN,8,8,NaN,14,5,NaN
308,50006,ST JOSEPH HOSPITAL,2700 DOLBEER ST,EUREKA,CA,95501,Humboldt,(707) 445-8121,Acute Care Hospitals,Voluntary non-profit - Private,...,2,8,1,NaN,8,8,NaN,14,13,NaN
309,50007,PENINSULA MEDICAL CENTER,1501 TROUSDALE DRIVE,BURLINGAME,CA,94010,San Mateo,(650) 696-5400,Acute Care Hospitals,Voluntary non-profit - Private,...,1,10,0,NaN,8,8,NaN,14,13,NaN
310,50008,CALIFORNIA PACIFIC MEDICAL CTR-DAVIES CAMPUS HOSP,601 DUBOCE AVENUE,ROSEVILLE,CA,95747,Placer,(415) 600-6000,Acute Care Hospitals,Voluntary non-profit - Other,...,0,6,0,NaN,8,8,NaN,14,5,NaN
311,50009,QUEEN OF THE VALLEY MEDICAL CENTER,1000 TRANCAS ST,NAPA,CA,94558,Napa,(707) 252-4411,Acute Care Hospitals,Voluntary non-profit - Church,...,0,11,0,NaN,8,8,NaN,14,12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,54151,"AURORA BEHAVIORAL HEALTHCARE-SANTA ROSA, LLC",1287 FULTON ROAD,SANTA ROSA,CA,95401,Sonoma,(707) 800-7700,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0
681,54152,SANTA CRUZ COUNTY PSYCHIATRIC HEALTH FACILITY,"2250 SOQUEL AVENUE, SUITE 150",SANTA CRUZ,CA,95062,Santa Cruz,(831) 600-2801,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0
682,54153,OCEAN VIEW PSYCHIATRIC HEALTH FACILITY,"2600 REDONDO AVENUE, SUITE 500",LONG BEACH,CA,90806,Los Angeles,(844) 562-1212,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0
683,54154,SAN JOSE BEHAVIORAL HEALTH,455 SILICON VALLEY BOULEVARD,SAN JOSE,CA,95138,Santa Clara,(669) 234-5959,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0
684,54155,"BAKERSFIELD BEHAVIORAL HEALTHCARE HOSPITAL, LLC",5201 WHITE LANE,BAKERSFIELD,CA,93309,Kern,(661) 398-1800,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0

In [6]:
# List out all the columns names to determine what compenents are necessary 
only_CA_df.columns.tolist()

['Facility ID',
 'Facility Name',
 'Address',
 'City',
 'State',
 'ZIP Code',
 'County Name',
 'Phone Number',
 'Hospital Type',
 'Hospital Ownership',
 'Emergency Services',
 'Meets criteria for promoting interoperability of EHRs',
 'Hospital overall rating',
 'Hospital overall rating footnote',
 'MORT Group Measure Count',
 'Count of Facility MORT Measures',
 'Count of MORT Measures Better',
 'Count of MORT Measures No Different',
 'Count of MORT Measures Worse',
 'MORT Group Footnote',
 'Safety Group Measure Count',
 'Count of Facility Safety Measures',
 'Count of Safety Measures Better',
 'Count of Safety Measures No Different',
 'Count of Safety Measures Worse',
 'Safety Group Footnote',
 'READM Group Measure Count',
 'Count of Facility READM Measures',
 'Count of READM Measures Better',
 'Count of READM Measures No Different',
 'Count of READM Measures Worse',
 'READM Group Footnote',
 'Pt Exp Group Measure Count',
 'Count of Facility Pt Exp Measures',
 'Pt Exp Group Footnote',
 'TE Group Measure Count',
 'Count of Facility TE Measures',
 'TE Group Footnote']

In [7]:
# Delete extraneous columns
delete_extraneous_columns = only_CA_df.drop(columns= [
    "Facility ID"
    , "Facility Name"
    , "Address"
    , "City"
    , "State"
    , "Phone Number"
    , "Hospital Type"
    , "Emergency Services"
    , "Meets criteria for promoting interoperability of EHRs"
    , "Hospital overall rating footnote"
    , "Hospital Ownership"
    , "READM Group Footnote"
    , "Pt Exp Group Footnote"
    , "TE Group Footnote"
    , "Safety Group Measure Count" 
    , "Meets criteria for promoting interoperability of EHRs"
    , "Hospital overall rating footnote"
    , "MORT Group Footnote"
    , "Safety Group Footnote"
    , "Count of Facility Safety Measures"
    , "Count of Safety Measures Better"
    , "Count of Safety Measures No Different"
    , "Count of Safety Measures Worse"
    , "Pt Exp Group Measure Count"
    , "Count of Facility Pt Exp Measures"
    , "TE Group Measure Count"
    , "Count of Facility TE Measures"
    , "Count of Facility MORT Measures"
    , "Count of MORT Measures Better"
    , "Count of MORT Measures No Different"
    , "Count of MORT Measures Worse"
    , "Count of Facility READM Measures"
    , "Count of READM Measures Better"
    , "Count of READM Measures No Different"
    , "Count of READM Measures Worse"
    , "MORT Group Measure Count"
    , "READM Group Measure Count"
    , "ZIP Code"
])    
delete_extraneous_columns.head()

    County Name Hospital overall rating
307     Alameda                       1
308    Humboldt                       3
309   San Mateo                       5
310      Placer                       3
311        Napa                       3

In [8]:
# Rename columns
new_hosptial_rating_df = delete_extraneous_columns.rename(columns={"County Name":"countyName", "Hospital overall rating": "hospitalOverallRating"})
new_hosptial_rating_df

      countyName hospitalOverallRating
307      Alameda                     1
308     Humboldt                     3
309    San Mateo                     5
310       Placer                     3
311         Napa                     3
..           ...                   ...
680       Sonoma         Not Available
681   Santa Cruz         Not Available
682  Los Angeles         Not Available
683  Santa Clara         Not Available
684         Kern         Not Available

[378 rows x 2 columns]

In [9]:
# Finding the number of counties in this dataset
new_hosptial_rating_df["countyName"].nunique()

55

In [40]:
# Version 1 - Dataframes excluding "Not Available" Hospital overall rating
vr1_without_na_df = new_hosptial_rating_df.loc[(new_hosptial_rating_df['hospitalOverallRating'] != 'Not Available' )]
vr1_without_na_df

        countyName hospitalOverallRating
307        Alameda                     1
308       Humboldt                     3
309      San Mateo                     5
310         Placer                     3
311           Napa                     3
..             ...                   ...
622         Plumas                     3
624         Nevada                     2
625           Lake                     3
627  Santa Barbara                     4
628      Calaveras                     2

[280 rows x 2 columns]

In [11]:
# Finding the number of counties without the "Not Available" status
vr1_without_na_df.groupby("countyName").sum().shape

(49, 1)

In [35]:
# Save as csv
vr1_without_na_df.to_csv("../cleaned_data/hospitalrating_vr1_df.csv", index=False)

In [48]:
# Version 2 - substituting zeros
vr2_sub_0_df = new_hosptial_rating_df.replace("Not Available", 0)
pd.DataFrame(vr2_sub_0_df)

      countyName hospitalOverallRating
307      Alameda                     1
308     Humboldt                     3
309    San Mateo                     5
310       Placer                     3
311         Napa                     3
..           ...                   ...
680       Sonoma                     0
681   Santa Cruz                     0
682  Los Angeles                     0
683  Santa Clara                     0
684         Kern                     0

[378 rows x 2 columns]

In [49]:
# Save Version 2 Hospital rating to csv
vr2_sub_0_df.to_csv("../cleaned_data/hospitalrating_vr2_df.csv", index=False)

In [50]:
# Version 3 - Replacing video adding median/average
vr3_med = vr1_without_na_df["hospitalOverallRating"].astype(int).median()
vr3_med

3.0

In [53]:
# Substite the "Not Available" with the median/average 
ver3_df = new_hosptial_rating_df.replace("Not Available", 3)
pd.DataFrame(ver3_df)

      countyName hospitalOverallRating
307      Alameda                     1
308     Humboldt                     3
309    San Mateo                     5
310       Placer                     3
311         Napa                     3
..           ...                   ...
680       Sonoma                     3
681   Santa Cruz                     3
682  Los Angeles                     3
683  Santa Clara                     3
684         Kern                     3

[378 rows x 2 columns]

In [54]:
# Final cleaned csv to be used
ver3_df.to_csv("../cleaned_data/hospitalrating_vr3_df.csv", index=False)

In [58]:
# Create a new variable to remember the call
ver3_df.dtypes

countyName               object
hospitalOverallRating    object
dtype: object

In [59]:
# Group by County
by_county_hospitalrating_df = ver3_df.astype({"countyName":str,"hospitalOverallRating":int}).groupby("countyName").mean() 
pd.DataFrame(by_county_hospitalrating_df)

                 hospitalOverallRating
countyName
Alameda                       2.666667
Amador                        5.000000
Butte                         2.666667
Calaveras                     2.000000
Colusa                        3.000000
Contra Costa                  3.625000
Del Norte                     2.000000
El Dorado                     4.500000
Fresno                        2.571429
Glenn                         3.000000
Humboldt                      3.200000
Imperial                      2.500000
Inyo                          2.500000
Kern                          2.727273
Kings                         2.000000
Lake                          3.000000
Lassen                        3.000000
Los Angeles                   3.055556
Madera                        2.500000
Marin                         4.333333
Mariposa                      4.000000
Mendocino                     3.666667
Merced                        2.000000
Modoc                         3.000000
Mono                          3.000000
Monterey                      3.500000
Napa                          3.666667
Nevada                        2.500000
Orange                        2.964286
Placer                        3.600000
Plumas                        3.000000
Riverside                     2.647059
Sacramento                    3.500000
San Bernardino                2.727273
San Diego                     3.500000
San Francisco                 3.000000
San Joaquin                   2.714286
San Luis Obispo               4.000000
San Mateo                     3.833333
Santa Barbara                 3.333333
Santa Clara                   3.363636
Santa Cruz                    3.000000
Shasta                        2.500000
Siskiyou                      2.000000
Solano                        3.166667
Sonoma                        3.625000
Stanislaus                    2.166667
Sutter                        3.000000
Tehama                        4.000000
Trinity                       3.000000
Tulare                        2.500000
Tuolumne                      4.000000
Ventura                       3.250000
Yolo                          2.500000
Yuba                          2.000000

In [62]:
# Final cleaned csv to be used
by_county_hospitalrating_df.to_csv("../cleaned_data/by_county_hospitalrating_ver3_df.csv")